{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>  {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form action="" method="POST">{% csrf_token %}
        <div align="center">
            <input type="text" name="user" placeholder="Usuario" autofocus="username"/>
            <input type="password" name="pass" placeholder="Contraseña"/>
            <button type="submit">Ingresar</button>
            <button type="reset">Cancelar</button>
        </div>
    </form>
    
</body>
</html>